html {
	background: #fff;
	font-family: sans-serif;
	color: #000;
}
html, body {
	height: 100%;
}
section {
	padding: 5px;
	margin-bottom: 1px;
}
.yes {
	background-color: rgba(0,128,0,.5);
}
.no {
	background-color: rgba(255,0,0,.5);
}